.checkout-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.checkout-card {
    width: 100%;
    max-width: 18rem;
    margin-bottom: 20px;
}

.buttons-container {
    width: 100%;
    max-width: 18rem;
}

.button-col {
    margin: 10px;
    display: flex;
    justify-content: center;
}

@media (max-width: 767px) {
    .checkout-container {
        padding: 10px;
    }
    
    .checkout-card {
        max-width: 100%;
    }
    
    .buttons-container {
        max-width: 100%;
    }
}
